/ {
    // LED da BLuepill
    leds {
        compatible = "gpio-leds";
        led0: led {
            gpios = <&gpioc 13 GPIO_ACTIVE_LOW>;
        };
    };

    // Usado para inicializar aliases de outros devices no código
    aliases {
    };

    zephyr,user {
        gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>; // Sensor de efeito HALL DO
    };
};
/* vim: set filetype=dts : */
